<script id="child-details-template" type="text/x-handlebars-template">

	<div class="profile__contents">

		<div class="profile__basic-info">
			<div class="profile-details__name">\{{ name }}</div>
			<div class="profile-details__age">Age \{{ age }}</div>
			<!-- REDESIGN TODO: add birthday month/year and birthday cake icon -->
		</div>

		<div class="profile__detailed-info">

			<div class="profile__picture-area">
				<img class="profile__picture" src=\{{ detailImage }}>
				<div class="profile__picture-caption">
					<!-- REDESIGN TODO: add teal mare icon to the left of Registration number -->
					<div class="profile-details__registration-number">Registration # \{{ registrationNumber }}</div>
					<!-- determining whether to add the block below based on whether the user is allowed to bookmark children needs to happen server-side -->
					{{#if canBookmarkChildren}}
						\{{#if isBookmarked}}
						<div class="child-bookmark profile__bookmark profile__bookmark--active" data-registration-number="\{{ registrationNumber }}"></div>
						\{{else}}
						<div class="child-bookmark profile__bookmark" data-registration-number="\{{ registrationNumber }}"></div>
						\{{/if}}
					{{/if}}
				</div>
			</div>

			<div class="profile__bio">
				<div class="detailed-child-info__introduction">
					<div class="detailed-child-info__header">Hi! My name is \{{ name }} and \{{ quote }}</div>
				</div>
				<div class="detailed-child-info__part-1">
					<div class="detailed-child-info__text">\{{ profilePart1 }}</div>
				</div>
				<div class="detailed-child-info__part-2">
					<div class="detailed-child-info__text">\{{ profilePart2 }}</div>
				</div>
				<div class="detailed-child-info__part-3">
					<div class="detailed-child-info__text">\{{ profilePart3 }}</div>
				</div>
			</div>

		</div>

		<div class="profile__footer">
			<div class="profile__footer-text">Bring me closer to finding a place to call home by filling out my: </div>
			<span class="button-group button-group--centered button-group--small-margin-above">
				<button class="button button--extra-large button--teal button--information-request" data-registration-number="\{{ registrationNumber }}">Information Request Form</button>
			</span>
		</div>

	</div>

	\{{#if hasVideo}}
	<div class="profile-details__video-container">
		<iframe src=\{{ video }} frameborder="0" allowfullscreen class="profile-details__video"></iframe>
	</div>
	\{{/if}}

	\{{#if wednesdaysChild}}
	<div class="profile-details__video-container">
		<iframe src=\{{ wednesdaysChildVideo }} frameborder="0" allowfullscreen class="profile-details__wednesdays-child-video"></iframe>
	</div>
	\{{/if}}

	<div class="profile__profile-navigation">
		\{{#if hasPrevious}}
		<span class="profile-navigation__previous" data-child-index="\{{ previousIndex }}">
			<span class="profile-navigation__previous-text">Previous Child</span>
		</span>
		\{{/if}}
		\{{#if hasPrevious}}
			\{{#if hasNext}}
			<span class="profile-navigation__divider">|</span>
			\{{/if}}
		\{{/if}}
		\{{#if hasNext}}
		<span class="profile-navigation__next" data-child-index="\{{ nextIndex }}">
			<span class="profile-navigation__next-text">Next Child</span>
		</span>
		\{{/if}}
	</div>

</script>
