<script id="gallery-children-template" type="text/x-handlebars-template">

	<div id="children-grid" class="card-grid">
		\{{#each []}}
			<div class="media-box child-media-box" data-registration-number="\{{ registrationNumber }}">
				<div class="contact-card card--medium-padding card--clickable">
					<div class="media-box-image card__image">
						<!-- REDESIGN TODO: center the image thumbnail -->
						<div data-thumbnail=\{{ galleryImage }}></div>
					</div>

					<div class="media-box-content card__image-text contact-card__details">
						<div class="contact-card__details-row contact-card__name">\{{ name }}</div>
						<div class="contact-card__details-row">
							<span>Age \{{ age }}</span>
							<span class="contact-card__details-divider">|</span>
							<span>Status: \{{ legalStatus }}</span>
						</div>
						<div class="contact-card__icons">
						\{{#if hasVideo}}
							<img class="contact-card__icon" src="/dist/img/icon-video.png">
						\{{/if}}
						\{{#if wednesdaysChild}}
							<img class="contact-card__icon" src="/dist/img/icon-wednesdays-child.png">
						\{{/if}}
						</div>

						<!-- REDESIGN TODO: move this to the right place (right of status) -->
						<!-- determining whether to add the block below based on whether the user is allowed to bookmark children needs to happen server-side -->
						{{#if canBookmarkChildren}}
							<span class="profile__bookmark child-bookmark \{{#if isBookmarked}}profile__bookmark--active\{{/if}}"></span>
						{{/if}}
						
					</div>
				</div>
			</div>
		\{{/each}}
	</div>

</script>
